<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="ezen.springmvc.domain.member.mapper.MemberMapper">

	<select id="findByAll" resultType="Member"> <!-- id가 mapper의 메소드 이름이랑 일치해야함 resultType="ezen.springmvc.domain.member.dto"원래는 이렇게 써야되는데 application.properties여기에 alias등록해서 가능--> 
		SELECT member_id, name, email, age <!-- 테이블이름이랑 bean객체 이름이 다른데 As 안써줘도되는 이유는 application.properties여기에 mybatis.configuration.map-underscore-to-camel-case=true 이거 선언되있어서가능 -->
		<!-- mybatis.configuration.map-underscore-to-camel-case=true 알아서 DB에 설정한 컬럼명 camel표기법으로 바꿔서 통일시켜줌 -->
		FROM member
	</select>

	<select id="findById" parameterType="string" resultType="Member">
		SELECT member_id, name, email, age, TO_CHAR(regdate, 'yyyy-MM-DD HH24:MI:SS') regdate
		FROM member
		WHERE member_id = #{value}
	</select>

	<select id="findByAgeRange" parameterType="int" resultType="Member">
		SELECT member_id, name, email, age
		FROM member
		WHERE age BETWEEN #{begin} AND #{end}
	</select>

	<select id="findByNameLike" parameterType="string" resultType="Member">
		SELECT member_id, name, email, age
		FROM member
		WHERE name LIKE '%' || #{value} || '%' <!-- 자바코드에다 %테스트%  넣어주는거보다 여기서 해주자 ||는 + 기능임, 와일드카드검색할때 앞으로는 자바코드에 일일히 입력하지 말고 쿼리문에 써주자-->
	</select>
	
	<insert id="create" parameterType="Member">
		INSERT INTO member(member_id, password, name, email, age)
		VALUES(#{memberId}, #{password}, #{name}, #{email}, #{age})
	</insert>
	
	<update id="update" parameterType="Member">
		UPDATE member
		SET age = #{age}
		WHERE member_id = #{memberId}
	</update>
	
	<!-- 동적 SQL 활용 -->
	<select id="findBySearchType" parameterType="string" resultType="Member" >
		SELECT member_id, name, email, age 
		FROM member
		<where> <!-- where은 동적쿼리 검색문 늘어날때마다 if문 추가해줌, and,or원래 쓰면안되는데 자동으로 처리해주는where문-->
			<if test="type != null and type == 'id'">
				and member_id = #{value}
			</if>
			<if test="type != null and type == 'name'">
				and name LIKE '%' || #{value} || '%'
			</if>
		</where>
	</select>
	
	<select id="findBySearchAll" parameterType="string" resultType="Member" >
		SELECT member_id, name, email, age 
		FROM member
		WHERE member_id = #{value} OR name LIKE '%' || #{value} || '%' <!-- !!!!!!!!!!join으로 통합검색 가능하게 구현가능!!!!!!!!!!!! -->
	</select>
	
	<select id="findBySearchAllOption" parameterType="MemberSearchCondition" resultType="Member" > <!--  -->
		SELECT member_id, name, email, age 
		FROM member
			<where>
				<if test="memberId != null and memberId != ''">
					or member_id = #{memberId}
				</if>
				<if test="name != null and name != ''">
					or name LIKE '%' || #{name} || '%'
				</if>
				<if test="age != null">
					or age = #{age}
				</if>
			</where>
	</select>
	
</mapper>